html, body{
  font-family: 'Open Sans', sans-serif;
  background-color: #f8f7ff;
  font-weight: 100
}

h1{
  color: #009DDE;
  font-weight: 100
}

h4{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color:#a8afb2;
  font-weight: 100
}

.widget{
  display: block;
  padding: 4%;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
  width: 70%;
  border: 1px solid #a8afb2;
  background-color: white;
  border-radius: 5px;
}

.oce-logo {
  width: 200px;
  float: left;
  padding: 1%
}

img {
  vertical-align: middle;
  border: 0;
}

.top{
  height: 150px;
}

input{
  width: 88%;
  border-radius: 0;
  box-shadow: none;
  outline: 0;
  border: none;
  margin-bottom: -1px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #526065;
  border: 1px solid #d8dcdf;
  height: 32px;
}
button{
  background: #526065;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #526065;
  padding: 12px 20px 12px 20px;
  width:100%
}
table, tr, td {
  padding-bottom: 20px
}
